.verification-code {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #aeaeae;
}

.verification-code-inner {
  position: absolute;
  max-width: 500px;
  width: 95%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 50px;
}
@media (max-width: 576px) {
  .verification-code-inner {
    padding: 40px 20px;
  }
}
.verification-code-inner h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  color: #292c2d;
}

@media (max-width: 576px) {
  .verification-code-inner h2 {
    font-size: 22px;
    line-height: 27px;
  }
}

.verification-code-inner input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-width: 86px;
  width: 100%;
  height: 48px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #292c2d;
  transition: 0.2s;
}

.verification-code-inner input.invalid {
  border: 1px solid #ff7777;
  box-shadow: 0 0 2px #e65050;
}

.verification-code-inner input:focus-visible {
  outline: none;
}
.timer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #2387c2;
}
@media (max-width: 576px) {
  .timer {
    font-size: 14px;
  }
}
/* / buttons/ */

.btns-container .bnts {
  margin-top: 0 !important;
}

.verification-code .btn-code {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 18px;

  outline: none;
  border: none;
  border-radius: 18px;
}

.verification-code .btn-code.one {
  background: #2387c2;
  color: white;
}
.verification-code .btn-code.two {
  color: #2387c2;
  background: white;
  border: 1px solid #2387c2;
}

.verification-code .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #292c2d;
}

@media (max-width: 576px) {
  .verification-code .text {
    font-size: 16px;
  }
}

.verification-code .text a {
  text-decoration-line: underline;
  color: #f3704a;
}
.container-signup {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1700px) {
  .container-signup {
    width: 1170px;
  }
}

.container-signup-content {
  min-height: 100vh;
}

.signup-img {
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) {
  .signup-img {
    min-height: 37vh;
  }
}

.signup-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #d5e3ec;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
.signup-img::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 119%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: calc(100% + 130px);
  background: #ffffff;
  box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

@media (max-width: 576px) {
  .signup-img::after {
    top: 134%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 49rem;
    height: calc(100% + 35px);
  }
}

.signup-img p {
  color: #2387c2 !important;
}
.signup-img .text-hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .signup-img .text-hero-container {
    width: 100%;
    text-align: center;
  }
}

.signup-img .text-hero-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #035781 !important;
}

.signup-hero-container {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}
@media (max-width: 576px) {
  .signup-hero-container {
    top: 52%;
    left: 50%;
  }
}

.signup-hero-container img {
  width: 100%;
}

@media (max-width: 576px) {
  .signup-hero-container img {
    width: 10rem;
  }
}

.hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-steps {
  position: absolute;
  left: 84%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

@media (max-width: 576px) {
  .signup-steps {
    left: 50%;
    top: 80%;
    flex-direction: row;
    gap: 50px;
  }
}

.signup-steps .step {
  width: 55px;
  height: 55px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  border: 1px solid #2387c2;
  color: #2387c2;
  background-color: #fff;
}

.signup-steps .step.progress {
  outline: 2px solid #61acd9;
  box-shadow: 0px 0px 5px 3px #61acd9;
}
.signup-steps .step.done {
  outline: 2px solid #61acd9;
  box-shadow: 0px 0px 5px 3px #61acd9;
  background: #2387c2;
  color: white;
}

@media (max-width: 576px) {
  .signup-steps .step {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }
}

/* // content hero  */

.form-containers {
  max-width: 370px;
}
@media (max-width: 576px) {
  .form-containers {
    max-width: 327px;
  }
}

.name-inp {
  width: 100%;
}

.inp_parent.invalid input {
  box-shadow: 0 0 2px 0px #f01010;
  border: 1px solid #ff6868c2;
  color: #ff4949;
}

.inp_parent.invalid input::placeholder {
  color: #ff4949;
}

.form-group-parent.invalid .form-group {
  box-shadow: 0 0 2px 0px #f01010;
  border: 1px solid #ff6868c2;
}

.form-group-parent.invalid .form-group input {
  color: #ff4949;
}
.form-group-parent.invalid .form-group input::placeholder {
  color: #ff4949;
}

.form-group-parent.invalid svg path {
  fill: #d44747;
}

.inp_parent #error,
.form-group-parent #error {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 1px;
  color: #ef6b6b;
  height: 17px;
  display: block;
  transition: 0.2s;
  opacity: 0;
}
.inp_parent.invalid #error,
.form-group-parent.invalid #error {
  opacity: 1;
}

.form-group,
.name-inp {
  position: relative;
  border: 1px solid #d9d9d7;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 18px;
  transition: 0.2s;
}

@media (max-width: 576px) {
  .signup-content {
    padding: 0 0 20px 0;
  }
}

.signup-content h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #035781;
}

.form-containers input {
  outline: none;
}

.radio-contaienr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #292c2d;
}

.radio-contaienr.invalid p {
  color: #ff5a5a;
  text-decoration: underline;
}

.radio-contaienr-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}
.radio-contaienr-inner input[type="radio"] {
  display: none;
}

.radio-contaienr-inner label {
  position: relative;
  cursor: pointer;
}

.radio-contaienr-inner label::before,
.radio-contaienr-inner label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: -22px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radio-contaienr-inner label::before {
  display: block;
  height: 18px;
  width: 18px;
  border: 2px solid #f3704a;
}

.radio-contaienr-inner label::after {
  display: none;
  height: 11px;
  width: 11px;
  background-color: #f3704a;
}

.radio-contaienr-inner label:has(input[type="radio"]:checked)::after {
  display: block;
}

.bnts {
  margin-top: 5rem;
}
.bnts .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 18px;
  background: #2387c2;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

/* //step 2  */

.data-step2 {
  padding-top: 20px;
}
.data-step2 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #161720;
}
.checkbox-container {
  gap: 10px;
  margin-top: 23px;
}

.checkbox-container #error {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 1px;
  color: #ef6b6b;
  height: 17px;
  display: block;
  transition: 0.2s;
  opacity: 0;
}
.checkbox-container.invalid #error {
  opacity: 1;
}

.checkbox-wrapper label {
  gap: 20px;
  cursor: pointer;
}

.checkbox-inp {
  appearance: none;
  -webkit-appearance: none;
}

.checkbox-inp::before {
  content: url("../assets/svg/checkbox-check.svg");
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}
.checkbox-inp:checked::before {
  content: url("../assets/svg/check-checked.svg");
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}

/* //step 3  */

@media (max-width: 576px) {
  #step3 {
    padding: 0 3px;
  }
}

.select-outer {
  position: relative;
  margin: 0 10px;
}

.select-outer button::after {
  display: inline-block;
  vertical-align: 0;
  content: url(../assets/svg/caret-down-fill-select.svg);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  position: absolute;
  top: 54%;
  left: 82%;
  transform: translate(-50%, -50%);
}
.location-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #161720;
}

.custome-select {
  border: 1px solid #d9d9d7;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 18px;
  background-color: white;
  color: #7d8082;
  text-align: left;
  padding-left: 12px;
  position: relative;
}

.btn:hover,
.btn:active {
  border: 1px solid #d9d9d7 !important;
  background-color: white !important;
  color: #7d8082 !important;
}
.select-outer .dropdown-menu {
  position: absolute;
  width: 100%;
  border-radius: 18px;
  min-width: 2rem !important;
}

.dropdown-menu .dropdown-item {
  border-radius: 18px;
  cursor: pointer;
}

.custome-count-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background: #f6f6f6;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.custome-count {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 10px;
  color: #000000;
}

.custome-check-btn {
  align-items: center;
  outline: none;
  border: none;
  padding: 0;
  background: #f6f6f6;
  border-radius: 20px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
}

.custome-check-btn span {
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 26px;
  color: #292c2d;
}

.custome-check-btn .active-check {
  background: #ffd433;
  color: white;
}

.data-step3 .bnts {
  margin-top: 3rem;
}

.data-step3 #error {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 1px;
  color: #ef6b6b;
  height: 17px;
  display: block;
  transition: 0.2s;
  opacity: 0;
}

.data-step3 #error.invalid {
  opacity: 1;
}

.data-step3 .btn-secondary.invalid {
  border-color: #f68989;
  box-shadow: 0 0 4px #bc6e6e;
}

/*step3 range component  */

.range-label {
  font-weight: 400;
  font-size: 14px;
  color: #707070;
  font-family: "Poppins";
}

.histogram svg {
  fill: #292c2d;
}

svg rect {
  transition: fill 0.3s;
}

/* histogram-input-container */
.range-slider {
  position: relative;
  width: 100%;
  height: 5px;
  margin: 5px 0 20px;
  background: #e6e6e6;
  border-radius: 7px;
}

.slider-track {
  height: 100%;
  position: absolute;
  background-color: #f3704ab0;
}

.range-slider input {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #f3704a;
  border: 3px solid #f3704a;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #f3704a;
  border: 3px solid #f3704a;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
}

.input-box {
  display: flex;
}

.input-wrap {
  gap: 5px;
}

.input-field {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d7;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.160784);
  border-radius: 11px;
  max-width: 77px;
  max-height: 40px;
}

@media (max-width: 576px) {
  .input-field {
    font-size: 14px;
    max-width: 73px;
    max-height: 38px;
  }
}
.input-wrap label {
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #161720;
  font-family: "Poppins";
}

@media (max-width: 576px) {
  .input-wrap label {
    font-size: 14px;
  }
}

.inpHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inpHolder input {
  border: none;
  outline: none;
  width: 58%;
  text-align: center;
}
#roomBtn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.data-step3 #officeNameBtn.invalid {
  border-color: #f68989;
  box-shadow: 0 0 4px #bc6e6e;
}
/*roommate-acount */

@media (min-width: 576px) {
  .roommate-acount {
    padding: 20px 0;
  }
}
